{% extends "./layouts/basic.html" %}
{% block title %}Image classification{% endblock %}
{% block header %}Is it dog or cat?{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h4>Hit Button and I will try to figure out whether this is dog or cat!</h4>
        <p>{{error}}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <!-- <div id="image"></div> -->

        <h4 id="classification"> </h4>

    </div>
    <div class="col-sm-6">
        <div class="w-100">
            <img src="{{ url_for('static', filename='images/') }}{{image}}">
        </div>
        <div class="row">
            <div class="card w-100">
                <button class="btn btn-primary processing" data-url="classification" data-id="5">Find out!</button>
            </div>
        </div>
        {% endblock%}
    </div>
</div>